<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/WeAreFamilyv2" version="1.0.0" viewmodes="maximized">
    <tizen:application id="UvqIhRh9KM.WeAreFamilyv2" package="UvqIhRh9KM" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>WeAreFamilyv2</name>
    <tizen:profile name="tv"/>
</widget>
